@import url('https://fonts.googleapis.com/css?family=Work+Sans:400,500&display=swap');

$font: 'Work Sans', sans-serif;
$font-color: #fff;
$background-color: #222;

body {
    margin: 0;
    padding: 0;
    font-family: $font;
    color: $font-color;
    background-color: lighten($background-color, 2%);
    font-size: 18px;
    overflow-x: hidden;
}

h1, h2, h3, h4, h5, h6, a, p {
    margin: 0;
    padding: 0;
    font-weight: normal;
}

a {
    color: $font-color;
    text-decoration: underline;

    &:hover {
        cursor: pointer;
    }
}

p {
    margin: 10px 0;
}