@import url(https://fonts.googleapis.com/css?family=Work+Sans:400,500&display=swap);body {
  margin: 0;
  padding: 0;
  font-family: "Work Sans", sans-serif;
  color: #fff;
  background-color: #272727;
  font-size: 18px;
  overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6,
a,
p {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

a {
  color: #fff;
  text-decoration: underline;
}

a:hover {
  cursor: pointer;
}

main {
  width: 80%;
  margin: 20px auto;
  box-shadow: 0px 0px 26px 8px rgba(0, 0, 0, 0.75);
  background-color: #222;
  padding: 10px;
}

@media (max-width: 900px) {
  main {
    width: 100%;
    margin: 20px 0;
  }
}

main header {
  text-align: center;
  margin-bottom: 10px;
}

main header h1 {
  font-size: 2.5em;
  margin-bottom: 5px;
}

main header nav {
  width: 100%;
}

main header nav a {
  padding: 5px 10px;
  display: inline-block;
  text-align: center;
  text-decoration: none;
  -webkit-transition: -webkit-transform 0.2s;
  transition: -webkit-transform 0.2s;
  transition: transform 0.2s;
  transition: transform 0.2s, -webkit-transform 0.2s;
  border-radius: 10px;
}

main header nav a p {
  margin: 0;
}

main header nav a.active {
  background-color: #181818;
}

main header nav a:hover {
  -webkit-transform: translateY(-5px);
          transform: translateY(-5px);
}

main header nav a:active {
  background-color: #1a1a1a;
}

main article .top-bar + * {
  clear: both;
}

main article h1 {
  float: left;
  width: 50%;
}

main article #search {
  color: #fff;
  float: right;
  border: none;
  background-color: transparent !important;
  background-image: none !important;
  font-size: 1.5em;
  width: 50%;
  text-align: right;
}

main article #search:focus {
  outline-width: 0;
}

main article #search:-webkit-autofill,
main article #search:-webkit-autofill:hover,
main article #search:-webkit-autofill:focus,
main article #search:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px #222 inset !important;
}

main article #search:-webkit-autofill {
  -webkit-text-fill-color: #fff !important;
}

@-webkit-keyframes bumps {
  0%, 100% {
    -webkit-transform: translate(-150px, 40px);
            transform: translate(-150px, 40px);
  }

  50% {
    -webkit-transform: translate(-150px, 30px);
            transform: translate(-150px, 30px);
  }
}

@keyframes bumps {
  0%, 100% {
    -webkit-transform: translate(-150px, 40px);
            transform: translate(-150px, 40px);
  }

  50% {
    -webkit-transform: translate(-150px, 30px);
            transform: translate(-150px, 30px);
  }
}

article {
  text-align: center;
  font-size: 1.3em;
}

article .file-search {
  padding: 50px 0 100px 0;
}

article .file-search .file {
  width: 200px;
}

article .file-search .search {
  width: 250px;
  position: absolute;
  -webkit-animation: bumps 1s infinite ease-in-out;
          animation: bumps 1s infinite ease-in-out;
}

article h2 {
  font-size: 3em;
}

